version: '3'

services:
  client:
    container_name: ec_client
    build:
      context: ./client
      dockerfile: Dockerfile
    tty: true
    volumes:
      - ./client:/client
    depends_on:
      - server
    ports:
      - "3000:3000"

  server:
    container_name: ec_server
    build:
      context: ./server
      dockerfile: go.Dockerfile
    volumes:
      - ./server/:/go/src
    tty: true
    ports:
      - 80:8080

  db:
    container_name: ec_db
    platform: linux/x86_64 
    image: mysql
    restart: always
    ports:
      - "13306:3306"
    volumes:
      - ./server/db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=ROOT_PASSWORD
      - MYSQL_DATABASE=test_db
      - MYSQL_USER=test_user
      - MYSQL_PASSWORD=test_password
    
  

