name: Client Dagger CI

on:
  push:
    branches:
      - main
      - develop

jobs:
  dagger:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout 
        uses: actions/checkout@v3
      - 
        name: Dagger for GitHub
        uses: dagger/dagger-for-github@v3.0.0
        with:
          workdir: ./client
          cmds: |
            project init
            project update
            do test